<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/SrihariAdada/IdeaProjects/orangeHRMLogingPageScript-master/orangeHRMLogingPageScript-master/src/main/java/com/selnium/practice/TestNGPractice2"><classes><class name="com.selnium.practice.TestNGPractice2.DemoWebShop"><methods><include name="process"/><include name="aProcess2"/></methods></class></classes></test></suite>